*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("pageaa.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position-x: center;
}

#div{
    margin-left: 37%;
    margin-top: 7%;
    font-family: 'Handlee', cursive;
    font-weight: 700;
    font-size: 100%;
}

h3{
   margin-left: 36%; 
   margin-top: 5%;
   font-size: 150%;
   font-weight: 500;
   font-family: 'Cinzel Decorative', cursive;
   color:#654321;
   
   -webkit-text-stroke: 0.5px black;
}

#ins{
    text-decoration: none;
    color:black;
}

#previous_page{
    
    font-family: 'Handlee', cursive;
   display: flex;
   justify-content: center;
   margin-top: 23.95%;
   margin-right: 19%; 
}

a{
    color: black;
    text-decoration-line: none;  
}

ul{
    display: flex;
    margin-top: 3%;
    margin-left: 2%;
    list-style-type: square;
}


    


#fbli{
    margin-top: 5%;
    margin-left: -6.5%;
}

#pgt{
    font-family: 'Handlee', cursive;
    margin-left: 20%;
    margin-bottom: 10%;
    
}