*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}




body{
    background-image:url("pics/pic.png"),url('pics/pageaa.png');
    background-repeat: no-repeat;
    background-size: 200px,500px;
    background-position-x:center;
    background-position-y:30%,0%;
     
}

h1{
    margin-left: 39%;
    margin-top:5%;
    font-size: 400%;
    font-weight: 400;
    font-family: 'Cinzel Decorative', cursive;
    color:#917553;
    -webkit-text-stroke: 0.5px black;
}

h4{
    font-family: 'Handlee', cursive;
    margin-left: 45%;
    margin-top: 15%;
}

p{
    font-family: 'Handlee', cursive;
    margin-left: 35%;
    margin-top: 10%;
    font-size: 150%;

}

a{
    text-decoration: none;
    color: black;
    margin-left: 60%;
    font-family: 'Handlee', cursive;
}
